html, body {
	width: 100%;
	min-width: 850px;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	margin: 0;
	background-color: #A9C9C0;
}

body {
	margin-top: 75px;
}

#page {
	height: 100%;
	max-height: 100%;
	border-collapse: collapse;
}

header {
	width: 100%;
	background-color: #004712;
	position: fixed;
	top: 0;
	min-width: 850px;
	height: 66px;
	z-index: 11;
	box-shadow: 0px 3px 5px black;
}

#side {
	background-color: #222;
	color: white;
	width: 50px;
	vertical-align: top;
	position: fixed;
	height: 100%;
	top: 66px;
	z-index: 1;
	text-align: center;
	font-size: 30px;
	box-shadow: 3px 2px 5px black;
}

.button {
	color: black;
	cursor: pointer;
}

.active.button {
	color: white;
}

.inactive.button {
	color: red;
}

#templates {
	display: none;
}

#content {
	margin: 10px;
	margin-left: 60px;
	margin-bottom: 100px;
}

.block {
	position: relative;
	/* Allow things to be absolutely positioned inside */
	padding: 5px;
	margin: 5px;
	background-color: #FFF1B8;
	box-shadow: 2px 2px 4px black;
}

.collapse {
	position: absolute;
	top: 2px;
	right: 2px;
}

.collapse img {
	width: 20px;
	height: 20px;
	transition: transform 0.5s;
	-webkit-transition: -webkit-transform 1s;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.collapse.flip img {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}

.charts > div {
	width: 95%;
	height: 400px;
	margin: auto;
}

.toolbar {
	width: 100%;
	margin: auto;
}

.toolbar>* {
	margin: 5px;
}

.toolbar .lock {
	display: none;
}

.error {
	background-color: darkred;
	color: white;
}

.views table {
	margin: auto;
	width: 100%;
}

.views table td {
	text-align: center;
	vertical-align: middle;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
}

/* Extras */

/* toggle switch */
.views label {
	position: relative;
}

.views input.toggle-round {
	display: none;
}

input.toggle-round+label {
	padding: 2px;
	width: 28px;
	height: 15px;
	background-color: #dddddd;
	border-radius: 15px;
	display: inline-block;
	overflow: hidden;
}

input.toggle-round+label:before, input.toggle-round+label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}

input.toggle-round+label:before {
	right: 1px;
	background-color: #f1f1f1;
	border-radius: 15px;
	transition: background 0.4s;
}

input.toggle-round+label:after {
	width: 15px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: margin 0.4s;
}

input.toggle-round:checked+label:before {
	background-color: #8ce196;
}

input.toggle-round:checked+label:after {
	margin-left: 15px;
}

/* Spinner */
.spinner {
	margin: 100px auto;
	width: 20px;
	height: 20px;
	position: relative;
}

.container1>div, .container2>div, .container3>div {
	width: 6px;
	height: 6px;
	background-color: #333;
	border-radius: 100%;
	position: absolute;
	-webkit-animation: bouncedelay 1.2s infinite ease-in-out;
	animation: bouncedelay 1.2s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.container2 {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.container3 {
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}

.circle1 {
	top: 0;
	left: 0;
}

.circle2 {
	top: 0;
	right: 0;
}

.circle3 {
	right: 0;
	bottom: 0;
}

.circle4 {
	left: 0;
	bottom: 0;
}

.container2 .circle1 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.container3 .circle1 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.container1 .circle2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.container2 .circle2 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

.container3 .circle2 {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}

.container1 .circle3 {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}

.container2 .circle3 {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

.container3 .circle3 {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}

.container1 .circle4 {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}

.container2 .circle4 {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}

.container3 .circle4 {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay { 0%, 80%, 100% {
	-webkit-transform: scale(0.0)
	} 40% {
		-webkit-transform:scale(1.0)
	}
}

@keyframes bouncedelay { 0%, 80%, 100% {
	transform: scale(0.0);
	-webkit-transform: scale(0.0);
	} 40% {
		transform:scale(1.0);
		-webkit-transform:scale(1.0);
	}
}
